form {
  max-width: 500px;
}

input[type="text"],
select {
  margin-top: 5px;
  width: 100%;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1em;
}

button[type="submit"] {
  margin-top: 20px;
  background: #4e8077;
  color: #e4fff0;
  border: 1px solid #e4fff0;
  border-radius: 3px;
  padding: 5px 10px;
  font-family: 'Architects Daughter', cursive;
  font-size: 0.9em;
}